<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/kalob-ultimate-fullstack-logo.png">
  <title>JavaScript 201 by Esther White</title>
</head>

<body>
  <div class="container">
    <div class="card">
      <h2>Random Star Wars Character</h2>
      <div class="content">
        <div id="output1" class="output1"></div>
        <img src="./images/star-wars.png" alt="">
      </div>
      <button id="btn1" class="btn1">Randomize!</button>
    </div>
    <div class="card">
      <h2>Or how about a random Chuck Norris Joke ;)</h2>
      <div class="content">
        <img src="./images/chuck-norris-100px.png" alt="">
        <div id="output2" class="output2"></div>
      </div>
      <button id="btn2" class="btn2">New Joke!</button>
    </div>
  </div>
  <footer>
    <a href="https://www.udemy.com/course/the-ultimate-fullstack-web-development-bootcamp/" target="_blank">JavaScript
      201</a>
    <p>by Esther White <a href="https://github.com/monacodelisa" target="_blank">{{ MonaCodeLisa }}</a></p>
  </footer>
  <script src="app.js"></script>
</body>

</html>