<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/kalob-ultimate-fullstack-logo.png">
  <title>JavaScript 101 by Esther white</title>
</head>

<body>
  <h1>JavaScript 101 Final Project:</h1>
  <p>From the <a href="" target="_blank">The Ultimate 2022 Fullstack Web Development Bootcamp
    </a></p>
  <div class="container">
    <h3>Hello my name is <span id="name" class="fake-input"></span> and I am <span id="age" class="fake-input"></span>
      years
      old. In dog years I would be <span id="dogyears" class="fake-input"></span> old.</h3>
  </div>

  <footer>
    <p>by Esther White <a href="https://github.com/monacodelisa" target="_blank">{{ MonaCodeLisa }}</a></p>
    <p>* I am not exactly taking credit for this one, since it was 99% done to begin with...</p>
    <p>but it was fun :)</p>
  </footer>
  <script src="app.js"></script>
</body>

</html>