<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/kalob-ultimate-fullstack-logo.png">
  <title>HTML 101 by Esther White</title>
</head>

<body>
  <h1>Welcome to HTML 101:</h1>
  <h2>The Ultimate 2022 Fullstack Web Development Bootcamp</h2>
  <p>by Kane Ezki, Kalob Taulien and Radek Wilk</p>

  <a href="https://www.udemy.com/course/the-ultimate-fullstack-web-development-bootcamp/" target="_blank"><img
      style="border-radius: 10px;" src="/images/3655840_1c3c.jpg" alt=""></a>
  <!-- inline CSS is not part of my typical workflow, this is an exception -->

  <p>here is my <a class="my-username" href="https://github.com/monacodelisa" target="_blank">GitHub</a>
    <br>
    <br>
  <p>completed by Esther White<a class="my-username" href="https://monacodelisa.com/" target="_blank">{{ MonaCodeLisa }}</a>
  </p>
</body>

</html>