<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/kalob-ultimate-fullstack-logo.png">
  <title>CSS 301 by Esther White</title>
</head>

<body>
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <a href="index.html"><img src="./images/kalob-ultimate-fullstack-logo.png" alt="">Some <span>Company</span></a>
      </div>
      <div class="links">
        <a href="#">HOME</a>
        <a href="#">BLOG</a>
        <a href="#">ABOUT</a>
        <a href="#">CONTACT</a>
      </div>
    </div>
    <main>
      <div class="card">
        <img src="./images/3655840_1c3c.jpg" alt="">
        <h3>Lorem ipsum </h3>
        <p>Id dicta iste non eaque voluptatem minus ea
          praesentium esse dolores architecto.</p>
      </div>
      <div class="card">
        <img src="./images/3655840_1c3c.jpg" alt="">
        <h3>Lorem ipsum </h3>
        <p>Id dicta iste non eaque voluptatem minus ea
          praesentium esse dolores architecto.</p>
      </div>
      <div class="card">
        <d class="img"></d>
        <img src="./images/3655840_1c3c.jpg" alt="">
        <h3>Lorem ipsum </h3>
        <p>Id dicta iste non eaque voluptatem minus ea
          praesentium esse dolores architecto.</p>
      </div>
      <div class="card">
        <img src="./images/3655840_1c3c.jpg" alt="">
        <h3>Lorem ipsum </h3>
        <p>Id dicta iste non eaque voluptatem minus ea
          praesentium esse dolores architecto.</p>
      </div>


    </main>
    <footer>
      <p>by Esther White</p><a href="https://github.com/monacodelisa" target="_blank">{{ MonaCodeLisa }}</a>
    </footer>
  </div>

</body>

</html>