<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description"
		content="I cannot stand HTML tables, spending all that extra time and effort to do something that can be done faster and simpler drives me nuts!">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<link rel="icon" type="image/png" sizes="32x32" href="images/kalob-ultimate-fullstack-logo.png">
	<title>HTML 201 by Esther White</title>

</head>

<body>
	<table>
		<tr>
			<th class="nav"><a href="https://monacodelisa.com" target="_blank" rel="noopener noreferrer">my main web dev website
					- monacodelisa.com</a><a href="https://esteewhite.com" target="_blank" rel="noopener noreferrer">my photography
					website - esteewhite.com</a></th>
		</tr>
		<tr>
			<td class="header">
				<h1>HTML 201 - Sample Layout</h1>
				<p>using... wait for it... HTML tables ;)</p><br><br>
			</td>
		</tr>
		<tr>
			<td><br><a href="https://www.instagram.com/monacodelisa" target="_blank" rel="noopener noreferrer"><img
						src="images/me-photographing-holding-camera-netanya-balcony.jpg" alt="my images always load"></a></td>
		</tr>
		<tr>
			<td class="paragraph">
				Hello, I am Estee :)<br>I have been working with HTML and CSS for a while <br> and I use codepen for simple
				projects.<br><br>This pen was created for the the HTML 201 Project Assignment, from the <br><a
					href="https://www.udemy.com/course/the-ultimate-fullstack-web-development-bootcamp/" target="_blank"
					rel="noopener noreferrer">The Ultimate 2022 Fullstack Web Development Bootcamp.</a><br>Main goal of the
				project was to create a site layout using HTML tables,<br> featuring - Nav, Header, Image, Paragraph, YT Video
				and a Footer.<br><br>
			</td>
		</tr>
		<tr>
			<td><iframe width="560" height="315" src="https://www.youtube.com/embed/6MQ2P__VAuQ" title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe></td>
		</tr>
		<tr class="footer">
			<td><a href="https://monacodelisa.com" target="_blank" rel="noopener noreferrer">&copy Esther White
					<i>{{ MonaCodeLisa }}</i><a> | All Rights Reserved</td>
		</tr>
	</table>
</body>

</html>